bodybody {background:url(https://www.toptal.com/designers/subtlepatterns/patterns/purty_wood.png) repeat;
    font-family: Helvetica, Ariel, sans-serif;
    }
    
    .nameTag{
      color: white;
      background-color: #f2f2f2;
      width: 400px;
      height: 200px;
      border-radius: 35px;
      border: 10px solid white;
      margin: 40px auto;
      padding: 10px;
      text-align: center;
      box-shadow: 5px 5px 10px #000000;
    }
    
    .name{
      color: black;
      font-size: 80px;
      line-height: 60px;
      display: inline;
      
      font-family: 'Permanent Marker', cursive;
    }
    
    .gradient{
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ff0000+34,ffffff+34,ffffff+87,ff0000+87 */
    background: rgb(255,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 34%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 87%, rgba(255,0,0,1) 87%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%,rgba(255,0,0,1) 34%,rgba(255,255,255,1) 34%,rgba(255,255,255,1) 87%,rgba(255,0,0,1) 87%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%,rgba(255,0,0,1) 34%,rgba(255,255,255,1) 34%,rgba(255,255,255,1) 87%,rgba(255,0,0,1) 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
    }