

body
{
  background-color:rgba(195, 219, 247, 1)
}
{ margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;} 

.topnav {
  background-color: rgba(51, 92, 129, 1);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.JPTnameAndPics
{
  
  background-color: rgba(26, 99, 118, 1);
  width: 500px;
  border: 5px solid green;
  padding: 50px;
  margin: auto;
  text-align: center
}

 
  /*.intro {
    background-image: url("https://i.pinimg.com/736x/11/b5/63/11b5633a2794724e17508aada5e02cda.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 1920px;
    position: relative;
  }*/




.resume {
    width: 80vw;
    height: 500px; 
  }

  <!--.aboutMe{
    margin: 100px;
    margin-left: 70%
  } -->
