<!DOCTYPE html>
<html>
  <head>
    <title><%= cartoons %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= cartoons %></h1>
    <p>Welcome to <%= cartoons %></p>
  </body>
</html>